# Created by .ignore support plugin (hsz.mobi)
.idea/
*.iml
target/
.project
.settings/
logs/
*.log
/autocode.test/src/main/java/
!/autocode.test/src/main/java/washmore/AppStarter.java
/autocode.test/src/main/resources/mappers/
