<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="washmore.dao.ext.B3SoloPageDao">

	<resultMap id="BaseResultMap" type="washmore.model.B3SoloPage">
		<id column="oId" property="oid" jdbcType="VARCHAR"/>
		<result column="pageCommentCount" property="pagecommentcount" jdbcType="INT"/>
		<result column="pageContent" property="pagecontent" jdbcType="MEDIUMTEXT"/>
		<result column="pageOrder" property="pageorder" jdbcType="INT"/>
		<result column="pagePermalink" property="pagepermalink" jdbcType="VARCHAR"/>
		<result column="pageTitle" property="pagetitle" jdbcType="VARCHAR"/>
		<result column="pageCommentable" property="pagecommentable" jdbcType="CHAR"/>
		<result column="pageType" property="pagetype" jdbcType="VARCHAR"/>
		<result column="pageOpenTarget" property="pageopentarget" jdbcType="VARCHAR"/>
		<result column="pageEditorType" property="pageeditortype" jdbcType="VARCHAR"/>
		<result column="pageIcon" property="pageicon" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="Base_Column_List">
		oId, pageCommentCount, pageContent, pageOrder, pagePermalink, pageTitle, 
		pageCommentable, pageType, pageOpenTarget, pageEditorType, pageIcon
	</sql>

	<insert id="insert" parameterType="washmore.model.B3SoloPage" keyProperty = "oid">
		INSERT INTO b3_solo_page
			(oId, pageCommentCount, pageContent, pageOrder, pagePermalink, pageTitle, 
			pageCommentable, pageType, pageOpenTarget, pageEditorType, pageIcon)
		VALUES
			(#{oid,jdbcType=VARCHAR}, #{pagecommentcount,jdbcType=INT}, #{pagecontent,jdbcType=MEDIUMTEXT}, 
			#{pageorder,jdbcType=INT}, #{pagepermalink,jdbcType=VARCHAR}, #{pagetitle,jdbcType=VARCHAR}, 
			#{pagecommentable,jdbcType=CHAR}, #{pagetype,jdbcType=VARCHAR}, #{pageopentarget,jdbcType=VARCHAR}, 
			#{pageeditortype,jdbcType=VARCHAR}, #{pageicon,jdbcType=VARCHAR})
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="washmore.model.B3SoloPage">
		UPDATE b3_solo_page
		<set>
			<if test="oid != null">
				oId = #{oid,jdbcType=VARCHAR},
			</if>
			<if test="pagecommentcount != null">
				pageCommentCount = #{pagecommentcount,jdbcType=INT},
			</if>
			<if test="pagecontent != null">
				pageContent = #{pagecontent,jdbcType=MEDIUMTEXT},
			</if>
			<if test="pageorder != null">
				pageOrder = #{pageorder,jdbcType=INT},
			</if>
			<if test="pagepermalink != null">
				pagePermalink = #{pagepermalink,jdbcType=VARCHAR},
			</if>
			<if test="pagetitle != null">
				pageTitle = #{pagetitle,jdbcType=VARCHAR},
			</if>
			<if test="pagecommentable != null">
				pageCommentable = #{pagecommentable,jdbcType=CHAR},
			</if>
			<if test="pagetype != null">
				pageType = #{pagetype,jdbcType=VARCHAR},
			</if>
			<if test="pageopentarget != null">
				pageOpenTarget = #{pageopentarget,jdbcType=VARCHAR},
			</if>
			<if test="pageeditortype != null">
				pageEditorType = #{pageeditortype,jdbcType=VARCHAR},
			</if>
			<if test="pageicon != null">
				pageIcon = #{pageicon,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="String">
		DELETE FROM b3_solo_page
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</delete>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="String">
		SELECT
		<include refid="Base_Column_List"/>
		FROM b3_solo_page
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</select>

	<select id="selectByParams" parameterType="map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM b3_solo_page
		<where>
			<if test="oid != null">
				AND oId = #{oid,jdbcType=VARCHAR}
			</if>
			<if test="pagecommentcount != null">
				AND pageCommentCount = #{pagecommentcount,jdbcType=INT}
			</if>
			<if test="pagecontent != null">
				AND pageContent = #{pagecontent,jdbcType=MEDIUMTEXT}
			</if>
			<if test="pageorder != null">
				AND pageOrder = #{pageorder,jdbcType=INT}
			</if>
			<if test="pagepermalink != null">
				AND pagePermalink = #{pagepermalink,jdbcType=VARCHAR}
			</if>
			<if test="pagetitle != null">
				AND pageTitle = #{pagetitle,jdbcType=VARCHAR}
			</if>
			<if test="pagecommentable != null">
				AND pageCommentable = #{pagecommentable,jdbcType=CHAR}
			</if>
			<if test="pagetype != null">
				AND pageType = #{pagetype,jdbcType=VARCHAR}
			</if>
			<if test="pageopentarget != null">
				AND pageOpenTarget = #{pageopentarget,jdbcType=VARCHAR}
			</if>
			<if test="pageeditortype != null">
				AND pageEditorType = #{pageeditortype,jdbcType=VARCHAR}
			</if>
			<if test="pageicon != null">
				AND pageIcon = #{pageicon,jdbcType=VARCHAR}
			</if>
		</where>
		ORDER BY oId DESC
		<if test="start != null and offset != null">
			LIMIT #{start} ,#{offset}
		</if>
	</select>

	<select id="countByParams" parameterType="map" resultMap="int">
		SELECT COUNT(*) FROM b3_solo_page
		<where>
			<if test="oid != null">
				AND oId = #{oid,jdbcType=VARCHAR}
			</if>
			<if test="pagecommentcount != null">
				AND pageCommentCount = #{pagecommentcount,jdbcType=INT}
			</if>
			<if test="pagecontent != null">
				AND pageContent = #{pagecontent,jdbcType=MEDIUMTEXT}
			</if>
			<if test="pageorder != null">
				AND pageOrder = #{pageorder,jdbcType=INT}
			</if>
			<if test="pagepermalink != null">
				AND pagePermalink = #{pagepermalink,jdbcType=VARCHAR}
			</if>
			<if test="pagetitle != null">
				AND pageTitle = #{pagetitle,jdbcType=VARCHAR}
			</if>
			<if test="pagecommentable != null">
				AND pageCommentable = #{pagecommentable,jdbcType=CHAR}
			</if>
			<if test="pagetype != null">
				AND pageType = #{pagetype,jdbcType=VARCHAR}
			</if>
			<if test="pageopentarget != null">
				AND pageOpenTarget = #{pageopentarget,jdbcType=VARCHAR}
			</if>
			<if test="pageeditortype != null">
				AND pageEditorType = #{pageeditortype,jdbcType=VARCHAR}
			</if>
			<if test="pageicon != null">
				AND pageIcon = #{pageicon,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

</mapper>
