<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="washmore.dao.ext.B3SoloCategoryDao">

	<resultMap id="BaseResultMap" type="washmore.model.B3SoloCategory">
		<id column="oId" property="oid" jdbcType="VARCHAR"/>
		<result column="categoryTitle" property="categorytitle" jdbcType="VARCHAR"/>
		<result column="categoryURI" property="categoryuri" jdbcType="VARCHAR"/>
		<result column="categoryDescription" property="categorydescription" jdbcType="TEXT"/>
		<result column="categoryOrder" property="categoryorder" jdbcType="INT"/>
		<result column="categoryTagCnt" property="categorytagcnt" jdbcType="INT"/>
	</resultMap>

	<sql id="Base_Column_List">
		oId, categoryTitle, categoryURI, categoryDescription, categoryOrder, categoryTagCnt
	</sql>

	<insert id="insert" parameterType="washmore.model.B3SoloCategory" keyProperty = "oid">
		INSERT INTO b3_solo_category
			(oId, categoryTitle, categoryURI, categoryDescription, categoryOrder, categoryTagCnt)
		VALUES
			(#{oid,jdbcType=VARCHAR}, #{categorytitle,jdbcType=VARCHAR}, #{categoryuri,jdbcType=VARCHAR}, 
			#{categorydescription,jdbcType=TEXT}, #{categoryorder,jdbcType=INT}, #{categorytagcnt,jdbcType=INT})
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="washmore.model.B3SoloCategory">
		UPDATE b3_solo_category
		<set>
			<if test="oid != null">
				oId = #{oid,jdbcType=VARCHAR},
			</if>
			<if test="categorytitle != null">
				categoryTitle = #{categorytitle,jdbcType=VARCHAR},
			</if>
			<if test="categoryuri != null">
				categoryURI = #{categoryuri,jdbcType=VARCHAR},
			</if>
			<if test="categorydescription != null">
				categoryDescription = #{categorydescription,jdbcType=TEXT},
			</if>
			<if test="categoryorder != null">
				categoryOrder = #{categoryorder,jdbcType=INT},
			</if>
			<if test="categorytagcnt != null">
				categoryTagCnt = #{categorytagcnt,jdbcType=INT},
			</if>
		</set>
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="String">
		DELETE FROM b3_solo_category
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</delete>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="String">
		SELECT
		<include refid="Base_Column_List"/>
		FROM b3_solo_category
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</select>

	<select id="selectByParams" parameterType="map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM b3_solo_category
		<where>
			<if test="oid != null">
				AND oId = #{oid,jdbcType=VARCHAR}
			</if>
			<if test="categorytitle != null">
				AND categoryTitle = #{categorytitle,jdbcType=VARCHAR}
			</if>
			<if test="categoryuri != null">
				AND categoryURI = #{categoryuri,jdbcType=VARCHAR}
			</if>
			<if test="categorydescription != null">
				AND categoryDescription = #{categorydescription,jdbcType=TEXT}
			</if>
			<if test="categoryorder != null">
				AND categoryOrder = #{categoryorder,jdbcType=INT}
			</if>
			<if test="categorytagcnt != null">
				AND categoryTagCnt = #{categorytagcnt,jdbcType=INT}
			</if>
		</where>
		ORDER BY oId DESC
		<if test="start != null and offset != null">
			LIMIT #{start} ,#{offset}
		</if>
	</select>

	<select id="countByParams" parameterType="map" resultMap="int">
		SELECT COUNT(*) FROM b3_solo_category
		<where>
			<if test="oid != null">
				AND oId = #{oid,jdbcType=VARCHAR}
			</if>
			<if test="categorytitle != null">
				AND categoryTitle = #{categorytitle,jdbcType=VARCHAR}
			</if>
			<if test="categoryuri != null">
				AND categoryURI = #{categoryuri,jdbcType=VARCHAR}
			</if>
			<if test="categorydescription != null">
				AND categoryDescription = #{categorydescription,jdbcType=TEXT}
			</if>
			<if test="categoryorder != null">
				AND categoryOrder = #{categoryorder,jdbcType=INT}
			</if>
			<if test="categorytagcnt != null">
				AND categoryTagCnt = #{categorytagcnt,jdbcType=INT}
			</if>
		</where>
	</select>

</mapper>
