<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="washmore.dao.ext.B3SoloCategoryTagDao">

	<resultMap id="BaseResultMap" type="washmore.model.B3SoloCategoryTag">
		<id column="oId" property="oid" jdbcType="VARCHAR"/>
		<result column="category_oId" property="categoryOid" jdbcType="VARCHAR"/>
		<result column="tag_oId" property="tagOid" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="Base_Column_List">
		oId, category_oId, tag_oId
	</sql>

	<insert id="insert" parameterType="washmore.model.B3SoloCategoryTag" keyProperty = "oid">
		INSERT INTO b3_solo_category_tag
			(oId, category_oId, tag_oId)
		VALUES
			(#{oid,jdbcType=VARCHAR}, #{categoryOid,jdbcType=VARCHAR}, #{tagOid,jdbcType=VARCHAR})
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="washmore.model.B3SoloCategoryTag">
		UPDATE b3_solo_category_tag
		<set>
			<if test="oid != null">
				oId = #{oid,jdbcType=VARCHAR},
			</if>
			<if test="categoryOid != null">
				category_oId = #{categoryOid,jdbcType=VARCHAR},
			</if>
			<if test="tagOid != null">
				tag_oId = #{tagOid,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="String">
		DELETE FROM b3_solo_category_tag
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</delete>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="String">
		SELECT
		<include refid="Base_Column_List"/>
		FROM b3_solo_category_tag
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</select>

	<select id="selectByParams" parameterType="map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM b3_solo_category_tag
		<where>
			<if test="oid != null">
				AND oId = #{oid,jdbcType=VARCHAR}
			</if>
			<if test="categoryOid != null">
				AND category_oId = #{categoryOid,jdbcType=VARCHAR}
			</if>
			<if test="tagOid != null">
				AND tag_oId = #{tagOid,jdbcType=VARCHAR}
			</if>
		</where>
		ORDER BY oId DESC
		<if test="start != null and offset != null">
			LIMIT #{start} ,#{offset}
		</if>
	</select>

	<select id="countByParams" parameterType="map" resultMap="int">
		SELECT COUNT(*) FROM b3_solo_category_tag
		<where>
			<if test="oid != null">
				AND oId = #{oid,jdbcType=VARCHAR}
			</if>
			<if test="categoryOid != null">
				AND category_oId = #{categoryOid,jdbcType=VARCHAR}
			</if>
			<if test="tagOid != null">
				AND tag_oId = #{tagOid,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

</mapper>
