<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="washmore.dao.ext.B3SoloArticleDao">

	<resultMap id="BaseResultMap" type="washmore.model.B3SoloArticle">
		<id column="oId" property="oid" jdbcType="VARCHAR"/>
		<result column="articleTitle" property="articletitle" jdbcType="VARCHAR"/>
		<result column="articleAbstract" property="articleabstract" jdbcType="TEXT"/>
		<result column="articleTags" property="articletags" jdbcType="TEXT"/>
		<result column="articleAuthorEmail" property="articleauthoremail" jdbcType="VARCHAR"/>
		<result column="articleCommentCount" property="articlecommentcount" jdbcType="INT"/>
		<result column="articleViewCount" property="articleviewcount" jdbcType="INT"/>
		<result column="articleContent" property="articlecontent" jdbcType="MEDIUMTEXT"/>
		<result column="articlePermalink" property="articlepermalink" jdbcType="VARCHAR"/>
		<result column="articleHadBeenPublished" property="articlehadbeenpublished" jdbcType="CHAR"/>
		<result column="articleIsPublished" property="articleispublished" jdbcType="CHAR"/>
		<result column="articlePutTop" property="articleputtop" jdbcType="CHAR"/>
		<result column="articleCreateDate" property="articlecreatedate" jdbcType="DATETIME"/>
		<result column="articleUpdateDate" property="articleupdatedate" jdbcType="DATETIME"/>
		<result column="articleRandomDouble" property="articlerandomdouble" jdbcType="DOUBLE"/>
		<result column="articleSignId" property="articlesignid" jdbcType="VARCHAR"/>
		<result column="articleCommentable" property="articlecommentable" jdbcType="CHAR"/>
		<result column="articleViewPwd" property="articleviewpwd" jdbcType="VARCHAR"/>
		<result column="articleEditorType" property="articleeditortype" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="Base_Column_List">
		oId, articleTitle, articleAbstract, articleTags, articleAuthorEmail, articleCommentCount, 
		articleViewCount, articleContent, articlePermalink, articleHadBeenPublished, articleIsPublished, articlePutTop, 
		articleCreateDate, articleUpdateDate, articleRandomDouble, articleSignId, articleCommentable, articleViewPwd, 
		articleEditorType
	</sql>

	<insert id="insert" parameterType="washmore.model.B3SoloArticle" keyProperty = "oid">
		INSERT INTO b3_solo_article
			(oId, articleTitle, articleAbstract, articleTags, articleAuthorEmail, articleCommentCount, 
			articleViewCount, articleContent, articlePermalink, articleHadBeenPublished, articleIsPublished, articlePutTop, 
			articleCreateDate, articleUpdateDate, articleRandomDouble, articleSignId, articleCommentable, articleViewPwd, 
			articleEditorType)
		VALUES
			(#{oid,jdbcType=VARCHAR}, #{articletitle,jdbcType=VARCHAR}, #{articleabstract,jdbcType=TEXT}, 
			#{articletags,jdbcType=TEXT}, #{articleauthoremail,jdbcType=VARCHAR}, #{articlecommentcount,jdbcType=INT}, 
			#{articleviewcount,jdbcType=INT}, #{articlecontent,jdbcType=MEDIUMTEXT}, #{articlepermalink,jdbcType=VARCHAR}, 
			#{articlehadbeenpublished,jdbcType=CHAR}, #{articleispublished,jdbcType=CHAR}, #{articleputtop,jdbcType=CHAR}, 
			#{articlecreatedate,jdbcType=DATETIME}, #{articleupdatedate,jdbcType=DATETIME}, #{articlerandomdouble,jdbcType=DOUBLE}, 
			#{articlesignid,jdbcType=VARCHAR}, #{articlecommentable,jdbcType=CHAR}, #{articleviewpwd,jdbcType=VARCHAR}, 
			#{articleeditortype,jdbcType=VARCHAR})
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="washmore.model.B3SoloArticle">
		UPDATE b3_solo_article
		<set>
			<if test="oid != null">
				oId = #{oid,jdbcType=VARCHAR},
			</if>
			<if test="articletitle != null">
				articleTitle = #{articletitle,jdbcType=VARCHAR},
			</if>
			<if test="articleabstract != null">
				articleAbstract = #{articleabstract,jdbcType=TEXT},
			</if>
			<if test="articletags != null">
				articleTags = #{articletags,jdbcType=TEXT},
			</if>
			<if test="articleauthoremail != null">
				articleAuthorEmail = #{articleauthoremail,jdbcType=VARCHAR},
			</if>
			<if test="articlecommentcount != null">
				articleCommentCount = #{articlecommentcount,jdbcType=INT},
			</if>
			<if test="articleviewcount != null">
				articleViewCount = #{articleviewcount,jdbcType=INT},
			</if>
			<if test="articlecontent != null">
				articleContent = #{articlecontent,jdbcType=MEDIUMTEXT},
			</if>
			<if test="articlepermalink != null">
				articlePermalink = #{articlepermalink,jdbcType=VARCHAR},
			</if>
			<if test="articlehadbeenpublished != null">
				articleHadBeenPublished = #{articlehadbeenpublished,jdbcType=CHAR},
			</if>
			<if test="articleispublished != null">
				articleIsPublished = #{articleispublished,jdbcType=CHAR},
			</if>
			<if test="articleputtop != null">
				articlePutTop = #{articleputtop,jdbcType=CHAR},
			</if>
			<if test="articlecreatedate != null">
				articleCreateDate = #{articlecreatedate,jdbcType=DATETIME},
			</if>
			<if test="articleupdatedate != null">
				articleUpdateDate = #{articleupdatedate,jdbcType=DATETIME},
			</if>
			<if test="articlerandomdouble != null">
				articleRandomDouble = #{articlerandomdouble,jdbcType=DOUBLE},
			</if>
			<if test="articlesignid != null">
				articleSignId = #{articlesignid,jdbcType=VARCHAR},
			</if>
			<if test="articlecommentable != null">
				articleCommentable = #{articlecommentable,jdbcType=CHAR},
			</if>
			<if test="articleviewpwd != null">
				articleViewPwd = #{articleviewpwd,jdbcType=VARCHAR},
			</if>
			<if test="articleeditortype != null">
				articleEditorType = #{articleeditortype,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="String">
		DELETE FROM b3_solo_article
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</delete>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="String">
		SELECT
		<include refid="Base_Column_List"/>
		FROM b3_solo_article
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</select>

	<select id="selectByParams" parameterType="map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM b3_solo_article
		<where>
			<if test="oid != null">
				AND oId = #{oid,jdbcType=VARCHAR}
			</if>
			<if test="articletitle != null">
				AND articleTitle = #{articletitle,jdbcType=VARCHAR}
			</if>
			<if test="articleabstract != null">
				AND articleAbstract = #{articleabstract,jdbcType=TEXT}
			</if>
			<if test="articletags != null">
				AND articleTags = #{articletags,jdbcType=TEXT}
			</if>
			<if test="articleauthoremail != null">
				AND articleAuthorEmail = #{articleauthoremail,jdbcType=VARCHAR}
			</if>
			<if test="articlecommentcount != null">
				AND articleCommentCount = #{articlecommentcount,jdbcType=INT}
			</if>
			<if test="articleviewcount != null">
				AND articleViewCount = #{articleviewcount,jdbcType=INT}
			</if>
			<if test="articlecontent != null">
				AND articleContent = #{articlecontent,jdbcType=MEDIUMTEXT}
			</if>
			<if test="articlepermalink != null">
				AND articlePermalink = #{articlepermalink,jdbcType=VARCHAR}
			</if>
			<if test="articlehadbeenpublished != null">
				AND articleHadBeenPublished = #{articlehadbeenpublished,jdbcType=CHAR}
			</if>
			<if test="articleispublished != null">
				AND articleIsPublished = #{articleispublished,jdbcType=CHAR}
			</if>
			<if test="articleputtop != null">
				AND articlePutTop = #{articleputtop,jdbcType=CHAR}
			</if>
			<if test="articlecreatedate != null">
				AND articleCreateDate = #{articlecreatedate,jdbcType=DATETIME}
			</if>
			<if test="articleupdatedate != null">
				AND articleUpdateDate = #{articleupdatedate,jdbcType=DATETIME}
			</if>
			<if test="articlerandomdouble != null">
				AND articleRandomDouble = #{articlerandomdouble,jdbcType=DOUBLE}
			</if>
			<if test="articlesignid != null">
				AND articleSignId = #{articlesignid,jdbcType=VARCHAR}
			</if>
			<if test="articlecommentable != null">
				AND articleCommentable = #{articlecommentable,jdbcType=CHAR}
			</if>
			<if test="articleviewpwd != null">
				AND articleViewPwd = #{articleviewpwd,jdbcType=VARCHAR}
			</if>
			<if test="articleeditortype != null">
				AND articleEditorType = #{articleeditortype,jdbcType=VARCHAR}
			</if>
		</where>
		ORDER BY oId DESC
		<if test="start != null and offset != null">
			LIMIT #{start} ,#{offset}
		</if>
	</select>

	<select id="countByParams" parameterType="map" resultMap="int">
		SELECT COUNT(*) FROM b3_solo_article
		<where>
			<if test="oid != null">
				AND oId = #{oid,jdbcType=VARCHAR}
			</if>
			<if test="articletitle != null">
				AND articleTitle = #{articletitle,jdbcType=VARCHAR}
			</if>
			<if test="articleabstract != null">
				AND articleAbstract = #{articleabstract,jdbcType=TEXT}
			</if>
			<if test="articletags != null">
				AND articleTags = #{articletags,jdbcType=TEXT}
			</if>
			<if test="articleauthoremail != null">
				AND articleAuthorEmail = #{articleauthoremail,jdbcType=VARCHAR}
			</if>
			<if test="articlecommentcount != null">
				AND articleCommentCount = #{articlecommentcount,jdbcType=INT}
			</if>
			<if test="articleviewcount != null">
				AND articleViewCount = #{articleviewcount,jdbcType=INT}
			</if>
			<if test="articlecontent != null">
				AND articleContent = #{articlecontent,jdbcType=MEDIUMTEXT}
			</if>
			<if test="articlepermalink != null">
				AND articlePermalink = #{articlepermalink,jdbcType=VARCHAR}
			</if>
			<if test="articlehadbeenpublished != null">
				AND articleHadBeenPublished = #{articlehadbeenpublished,jdbcType=CHAR}
			</if>
			<if test="articleispublished != null">
				AND articleIsPublished = #{articleispublished,jdbcType=CHAR}
			</if>
			<if test="articleputtop != null">
				AND articlePutTop = #{articleputtop,jdbcType=CHAR}
			</if>
			<if test="articlecreatedate != null">
				AND articleCreateDate = #{articlecreatedate,jdbcType=DATETIME}
			</if>
			<if test="articleupdatedate != null">
				AND articleUpdateDate = #{articleupdatedate,jdbcType=DATETIME}
			</if>
			<if test="articlerandomdouble != null">
				AND articleRandomDouble = #{articlerandomdouble,jdbcType=DOUBLE}
			</if>
			<if test="articlesignid != null">
				AND articleSignId = #{articlesignid,jdbcType=VARCHAR}
			</if>
			<if test="articlecommentable != null">
				AND articleCommentable = #{articlecommentable,jdbcType=CHAR}
			</if>
			<if test="articleviewpwd != null">
				AND articleViewPwd = #{articleviewpwd,jdbcType=VARCHAR}
			</if>
			<if test="articleeditortype != null">
				AND articleEditorType = #{articleeditortype,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

</mapper>
