<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="washmore.dao.ext.B3SoloLinkDao">

	<resultMap id="BaseResultMap" type="washmore.model.B3SoloLink">
		<id column="oId" property="oid" jdbcType="VARCHAR"/>
		<result column="linkAddress" property="linkaddress" jdbcType="VARCHAR"/>
		<result column="linkDescription" property="linkdescription" jdbcType="VARCHAR"/>
		<result column="linkOrder" property="linkorder" jdbcType="INT"/>
		<result column="linkTitle" property="linktitle" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="Base_Column_List">
		oId, linkAddress, linkDescription, linkOrder, linkTitle
	</sql>

	<insert id="insert" parameterType="washmore.model.B3SoloLink" keyProperty = "oid">
		INSERT INTO b3_solo_link
			(oId, linkAddress, linkDescription, linkOrder, linkTitle)
		VALUES
			(#{oid,jdbcType=VARCHAR}, #{linkaddress,jdbcType=VARCHAR}, #{linkdescription,jdbcType=VARCHAR}, 
			#{linkorder,jdbcType=INT}, #{linktitle,jdbcType=VARCHAR})
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="washmore.model.B3SoloLink">
		UPDATE b3_solo_link
		<set>
			<if test="oid != null">
				oId = #{oid,jdbcType=VARCHAR},
			</if>
			<if test="linkaddress != null">
				linkAddress = #{linkaddress,jdbcType=VARCHAR},
			</if>
			<if test="linkdescription != null">
				linkDescription = #{linkdescription,jdbcType=VARCHAR},
			</if>
			<if test="linkorder != null">
				linkOrder = #{linkorder,jdbcType=INT},
			</if>
			<if test="linktitle != null">
				linkTitle = #{linktitle,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="String">
		DELETE FROM b3_solo_link
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</delete>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="String">
		SELECT
		<include refid="Base_Column_List"/>
		FROM b3_solo_link
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</select>

	<select id="selectByParams" parameterType="map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM b3_solo_link
		<where>
			<if test="oid != null">
				AND oId = #{oid,jdbcType=VARCHAR}
			</if>
			<if test="linkaddress != null">
				AND linkAddress = #{linkaddress,jdbcType=VARCHAR}
			</if>
			<if test="linkdescription != null">
				AND linkDescription = #{linkdescription,jdbcType=VARCHAR}
			</if>
			<if test="linkorder != null">
				AND linkOrder = #{linkorder,jdbcType=INT}
			</if>
			<if test="linktitle != null">
				AND linkTitle = #{linktitle,jdbcType=VARCHAR}
			</if>
		</where>
		ORDER BY oId DESC
		<if test="start != null and offset != null">
			LIMIT #{start} ,#{offset}
		</if>
	</select>

	<select id="countByParams" parameterType="map" resultMap="int">
		SELECT COUNT(*) FROM b3_solo_link
		<where>
			<if test="oid != null">
				AND oId = #{oid,jdbcType=VARCHAR}
			</if>
			<if test="linkaddress != null">
				AND linkAddress = #{linkaddress,jdbcType=VARCHAR}
			</if>
			<if test="linkdescription != null">
				AND linkDescription = #{linkdescription,jdbcType=VARCHAR}
			</if>
			<if test="linkorder != null">
				AND linkOrder = #{linkorder,jdbcType=INT}
			</if>
			<if test="linktitle != null">
				AND linkTitle = #{linktitle,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

</mapper>
