<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="washmore.dao.ext.B3SoloPluginDao">

	<resultMap id="BaseResultMap" type="washmore.model.B3SoloPlugin">
		<id column="oId" property="oid" jdbcType="VARCHAR"/>
		<result column="author" property="author" jdbcType="TEXT"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="status" property="status" jdbcType="VARCHAR"/>
		<result column="version" property="version" jdbcType="VARCHAR"/>
		<result column="setting" property="setting" jdbcType="TEXT"/>
	</resultMap>

	<sql id="Base_Column_List">
		oId, author, name, status, version, setting
	</sql>

	<insert id="insert" parameterType="washmore.model.B3SoloPlugin" keyProperty = "oid">
		INSERT INTO b3_solo_plugin
			(oId, author, name, status, version, setting)
		VALUES
			(#{oid,jdbcType=VARCHAR}, #{author,jdbcType=TEXT}, #{name,jdbcType=VARCHAR}, 
			#{status,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, #{setting,jdbcType=TEXT})
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="washmore.model.B3SoloPlugin">
		UPDATE b3_solo_plugin
		<set>
			<if test="oid != null">
				oId = #{oid,jdbcType=VARCHAR},
			</if>
			<if test="author != null">
				author = #{author,jdbcType=TEXT},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				version = #{version,jdbcType=VARCHAR},
			</if>
			<if test="setting != null">
				setting = #{setting,jdbcType=TEXT},
			</if>
		</set>
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="String">
		DELETE FROM b3_solo_plugin
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</delete>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="String">
		SELECT
		<include refid="Base_Column_List"/>
		FROM b3_solo_plugin
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</select>

	<select id="selectByParams" parameterType="map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM b3_solo_plugin
		<where>
			<if test="oid != null">
				AND oId = #{oid,jdbcType=VARCHAR}
			</if>
			<if test="author != null">
				AND author = #{author,jdbcType=TEXT}
			</if>
			<if test="name != null">
				AND name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="status != null">
				AND status = #{status,jdbcType=VARCHAR}
			</if>
			<if test="version != null">
				AND version = #{version,jdbcType=VARCHAR}
			</if>
			<if test="setting != null">
				AND setting = #{setting,jdbcType=TEXT}
			</if>
		</where>
		ORDER BY oId DESC
		<if test="start != null and offset != null">
			LIMIT #{start} ,#{offset}
		</if>
	</select>

	<select id="countByParams" parameterType="map" resultMap="int">
		SELECT COUNT(*) FROM b3_solo_plugin
		<where>
			<if test="oid != null">
				AND oId = #{oid,jdbcType=VARCHAR}
			</if>
			<if test="author != null">
				AND author = #{author,jdbcType=TEXT}
			</if>
			<if test="name != null">
				AND name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="status != null">
				AND status = #{status,jdbcType=VARCHAR}
			</if>
			<if test="version != null">
				AND version = #{version,jdbcType=VARCHAR}
			</if>
			<if test="setting != null">
				AND setting = #{setting,jdbcType=TEXT}
			</if>
		</where>
	</select>

</mapper>
