<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="washmore.dao.ext.B3SoloTagDao">

	<resultMap id="BaseResultMap" type="washmore.model.B3SoloTag">
		<id column="oId" property="oid" jdbcType="VARCHAR"/>
		<result column="tagPublishedRefCount" property="tagpublishedrefcount" jdbcType="INT"/>
		<result column="tagReferenceCount" property="tagreferencecount" jdbcType="INT"/>
		<result column="tagTitle" property="tagtitle" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="Base_Column_List">
		oId, tagPublishedRefCount, tagReferenceCount, tagTitle
	</sql>

	<insert id="insert" parameterType="washmore.model.B3SoloTag" keyProperty = "oid">
		INSERT INTO b3_solo_tag
			(oId, tagPublishedRefCount, tagReferenceCount, tagTitle)
		VALUES
			(#{oid,jdbcType=VARCHAR}, #{tagpublishedrefcount,jdbcType=INT}, #{tagreferencecount,jdbcType=INT}, 
			#{tagtitle,jdbcType=VARCHAR})
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="washmore.model.B3SoloTag">
		UPDATE b3_solo_tag
		<set>
			<if test="oid != null">
				oId = #{oid,jdbcType=VARCHAR},
			</if>
			<if test="tagpublishedrefcount != null">
				tagPublishedRefCount = #{tagpublishedrefcount,jdbcType=INT},
			</if>
			<if test="tagreferencecount != null">
				tagReferenceCount = #{tagreferencecount,jdbcType=INT},
			</if>
			<if test="tagtitle != null">
				tagTitle = #{tagtitle,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="String">
		DELETE FROM b3_solo_tag
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</delete>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="String">
		SELECT
		<include refid="Base_Column_List"/>
		FROM b3_solo_tag
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</select>

	<select id="selectByParams" parameterType="map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM b3_solo_tag
		<where>
			<if test="oid != null">
				AND oId = #{oid,jdbcType=VARCHAR}
			</if>
			<if test="tagpublishedrefcount != null">
				AND tagPublishedRefCount = #{tagpublishedrefcount,jdbcType=INT}
			</if>
			<if test="tagreferencecount != null">
				AND tagReferenceCount = #{tagreferencecount,jdbcType=INT}
			</if>
			<if test="tagtitle != null">
				AND tagTitle = #{tagtitle,jdbcType=VARCHAR}
			</if>
		</where>
		ORDER BY oId DESC
		<if test="start != null and offset != null">
			LIMIT #{start} ,#{offset}
		</if>
	</select>

	<select id="countByParams" parameterType="map" resultMap="int">
		SELECT COUNT(*) FROM b3_solo_tag
		<where>
			<if test="oid != null">
				AND oId = #{oid,jdbcType=VARCHAR}
			</if>
			<if test="tagpublishedrefcount != null">
				AND tagPublishedRefCount = #{tagpublishedrefcount,jdbcType=INT}
			</if>
			<if test="tagreferencecount != null">
				AND tagReferenceCount = #{tagreferencecount,jdbcType=INT}
			</if>
			<if test="tagtitle != null">
				AND tagTitle = #{tagtitle,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

</mapper>
