<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="washmore.dao.ext.BlessSendRuleDao">
    <select id="countAll" resultType="int">
        SELECT COUNT(*)
        FROM bless_send_rule
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM bless_send_rule
        ORDER BY id DESC
    </select>
</mapper>
