<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="washmore.dao.ext.B3SoloTagArticleDao">

	<resultMap id="BaseResultMap" type="washmore.model.B3SoloTagArticle">
		<id column="oId" property="oid" jdbcType="VARCHAR"/>
		<result column="article_oId" property="articleOid" jdbcType="VARCHAR"/>
		<result column="tag_oId" property="tagOid" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="Base_Column_List">
		oId, article_oId, tag_oId
	</sql>

	<insert id="insert" parameterType="washmore.model.B3SoloTagArticle" keyProperty = "oid">
		INSERT INTO b3_solo_tag_article
			(oId, article_oId, tag_oId)
		VALUES
			(#{oid,jdbcType=VARCHAR}, #{articleOid,jdbcType=VARCHAR}, #{tagOid,jdbcType=VARCHAR})
	</insert>

	<insert id="insertSelective" parameterType="washmore.model.B3SoloTagArticle" keyProperty = "oid">
		INSERT INTO b3_solo_tag_article
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="oid != null">
				oId,
			</if>
			<if test="articleOid != null">
				article_oId,
			</if>
			<if test="tagOid != null">
				tag_oId,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="oid != null">
				#{oid,jdbcType=VARCHAR},
			</if>
			<if test="articleOid != null">
				#{articleOid,jdbcType=VARCHAR},
			</if>
			<if test="tagOid != null">
				#{tagOid,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKey" parameterType="washmore.model.B3SoloTagArticle">
		UPDATE b3_solo_tag_article SET 
			article_oId = #{articleOid,jdbcType=VARCHAR}
			,tag_oId = #{tagOid,jdbcType=VARCHAR}
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</update>

	<update id="updateByPrimaryKeySelective" parameterType="washmore.model.B3SoloTagArticle">
		UPDATE b3_solo_tag_article
		<set>
			<if test="articleOid != null">
				article_oId = #{articleOid,jdbcType=VARCHAR},
			</if>
			<if test="tagOid != null">
				tag_oId = #{tagOid,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="String">
		DELETE FROM b3_solo_tag_article
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</delete>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="String">
		SELECT
		<include refid="Base_Column_List"/>
		FROM b3_solo_tag_article
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</select>

	<select id="selectByParams" parameterType="map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM b3_solo_tag_article
		<where>
			<if test="oid != null">
				AND oId = #{oid,jdbcType=VARCHAR}
			</if>
			<if test="articleOid != null">
				AND article_oId = #{articleOid,jdbcType=VARCHAR}
			</if>
			<if test="tagOid != null">
				AND tag_oId = #{tagOid,jdbcType=VARCHAR}
			</if>
		</where>
		ORDER BY oId DESC
		<if test="start != null and offset != null">
			LIMIT #{start} ,#{offset}
		</if>
	</select>

	<select id="countByParams" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM b3_solo_tag_article
		<where>
			<if test="oid != null">
				AND oId = #{oid,jdbcType=VARCHAR}
			</if>
			<if test="articleOid != null">
				AND article_oId = #{articleOid,jdbcType=VARCHAR}
			</if>
			<if test="tagOid != null">
				AND tag_oId = #{tagOid,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

</mapper>
