<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="washmore.dao.ext.B3SoloOptionDao">

	<resultMap id="BaseResultMap" type="washmore.model.B3SoloOption">
		<id column="oId" property="oid" jdbcType="VARCHAR"/>
		<result column="optionValue" property="optionvalue" jdbcType="LONGVARCHAR"/>
		<result column="optionCategory" property="optioncategory" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="Base_Column_List">
		oId, optionValue, optionCategory
	</sql>

	<insert id="insert" parameterType="washmore.model.B3SoloOption" keyProperty = "oid">
		INSERT INTO b3_solo_option
			(oId, optionValue, optionCategory)
		VALUES
			(#{oid,jdbcType=VARCHAR}, #{optionvalue,jdbcType=LONGVARCHAR}, #{optioncategory,jdbcType=VARCHAR})
	</insert>

	<insert id="insertSelective" parameterType="washmore.model.B3SoloOption" keyProperty = "oid">
		INSERT INTO b3_solo_option
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="oid != null">
				oId,
			</if>
			<if test="optionvalue != null">
				optionValue,
			</if>
			<if test="optioncategory != null">
				optionCategory,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="oid != null">
				#{oid,jdbcType=VARCHAR},
			</if>
			<if test="optionvalue != null">
				#{optionvalue,jdbcType=LONGVARCHAR},
			</if>
			<if test="optioncategory != null">
				#{optioncategory,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKey" parameterType="washmore.model.B3SoloOption">
		UPDATE b3_solo_option SET 
			optionValue = #{optionvalue,jdbcType=LONGVARCHAR}
			,optionCategory = #{optioncategory,jdbcType=VARCHAR}
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</update>

	<update id="updateByPrimaryKeySelective" parameterType="washmore.model.B3SoloOption">
		UPDATE b3_solo_option
		<set>
			<if test="optionvalue != null">
				optionValue = #{optionvalue,jdbcType=LONGVARCHAR},
			</if>
			<if test="optioncategory != null">
				optionCategory = #{optioncategory,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="String">
		DELETE FROM b3_solo_option
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</delete>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="String">
		SELECT
		<include refid="Base_Column_List"/>
		FROM b3_solo_option
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</select>

	<select id="selectByParams" parameterType="map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM b3_solo_option
		<where>
			<if test="oid != null">
				AND oId = #{oid,jdbcType=VARCHAR}
			</if>
			<if test="optionvalue != null">
				AND optionValue = #{optionvalue,jdbcType=LONGVARCHAR}
			</if>
			<if test="optioncategory != null">
				AND optionCategory = #{optioncategory,jdbcType=VARCHAR}
			</if>
		</where>
		ORDER BY oId DESC
		<if test="start != null and offset != null">
			LIMIT #{start} ,#{offset}
		</if>
	</select>

	<select id="countByParams" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM b3_solo_option
		<where>
			<if test="oid != null">
				AND oId = #{oid,jdbcType=VARCHAR}
			</if>
			<if test="optionvalue != null">
				AND optionValue = #{optionvalue,jdbcType=LONGVARCHAR}
			</if>
			<if test="optioncategory != null">
				AND optionCategory = #{optioncategory,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

</mapper>
