<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="washmore.dao.ext.B3SoloArchivedateDao">

	<resultMap id="BaseResultMap" type="washmore.model.B3SoloArchivedate">
		<id column="oId" property="oid" jdbcType="VARCHAR"/>
		<result column="archiveDateArticleCount" property="archivedatearticlecount" jdbcType="INTEGER"/>
		<result column="archiveDatePublishedArticleCount" property="archivedatepublishedarticlecount" jdbcType="INTEGER"/>
		<result column="archiveTime" property="archivetime" jdbcType="BIGINT"/>
	</resultMap>

	<sql id="Base_Column_List">
		oId, archiveDateArticleCount, archiveDatePublishedArticleCount, archiveTime
	</sql>

	<insert id="insert" parameterType="washmore.model.B3SoloArchivedate" keyProperty = "oid">
		INSERT INTO b3_solo_archivedate
			(oId, archiveDateArticleCount, archiveDatePublishedArticleCount, archiveTime)
		VALUES
			(#{oid,jdbcType=VARCHAR}, #{archivedatearticlecount,jdbcType=INTEGER}, #{archivedatepublishedarticlecount,jdbcType=INTEGER}, 
			#{archivetime,jdbcType=BIGINT})
	</insert>

	<insert id="insertSelective" parameterType="washmore.model.B3SoloArchivedate" keyProperty = "oid">
		INSERT INTO b3_solo_archivedate
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="oid != null">
				oId,
			</if>
			<if test="archivedatearticlecount != null">
				archiveDateArticleCount,
			</if>
			<if test="archivedatepublishedarticlecount != null">
				archiveDatePublishedArticleCount,
			</if>
			<if test="archivetime != null">
				archiveTime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="oid != null">
				#{oid,jdbcType=VARCHAR},
			</if>
			<if test="archivedatearticlecount != null">
				#{archivedatearticlecount,jdbcType=INTEGER},
			</if>
			<if test="archivedatepublishedarticlecount != null">
				#{archivedatepublishedarticlecount,jdbcType=INTEGER},
			</if>
			<if test="archivetime != null">
				#{archivetime,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKey" parameterType="washmore.model.B3SoloArchivedate">
		UPDATE b3_solo_archivedate SET 
			archiveDateArticleCount = #{archivedatearticlecount,jdbcType=INTEGER}
			,archiveDatePublishedArticleCount = #{archivedatepublishedarticlecount,jdbcType=INTEGER}
			,archiveTime = #{archivetime,jdbcType=BIGINT}
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</update>

	<update id="updateByPrimaryKeySelective" parameterType="washmore.model.B3SoloArchivedate">
		UPDATE b3_solo_archivedate
		<set>
			<if test="archivedatearticlecount != null">
				archiveDateArticleCount = #{archivedatearticlecount,jdbcType=INTEGER},
			</if>
			<if test="archivedatepublishedarticlecount != null">
				archiveDatePublishedArticleCount = #{archivedatepublishedarticlecount,jdbcType=INTEGER},
			</if>
			<if test="archivetime != null">
				archiveTime = #{archivetime,jdbcType=BIGINT},
			</if>
		</set>
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="String">
		DELETE FROM b3_solo_archivedate
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</delete>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="String">
		SELECT
		<include refid="Base_Column_List"/>
		FROM b3_solo_archivedate
		WHERE oId = #{oid,jdbcType=VARCHAR}
	</select>

	<select id="selectByParams" parameterType="map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM b3_solo_archivedate
		<where>
			<if test="oid != null">
				AND oId = #{oid,jdbcType=VARCHAR}
			</if>
			<if test="archivedatearticlecount != null">
				AND archiveDateArticleCount = #{archivedatearticlecount,jdbcType=INTEGER}
			</if>
			<if test="archivedatepublishedarticlecount != null">
				AND archiveDatePublishedArticleCount = #{archivedatepublishedarticlecount,jdbcType=INTEGER}
			</if>
			<if test="archivetime != null">
				AND archiveTime = #{archivetime,jdbcType=BIGINT}
			</if>
		</where>
		ORDER BY oId DESC
		<if test="start != null and offset != null">
			LIMIT #{start} ,#{offset}
		</if>
	</select>

	<select id="countByParams" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM b3_solo_archivedate
		<where>
			<if test="oid != null">
				AND oId = #{oid,jdbcType=VARCHAR}
			</if>
			<if test="archivedatearticlecount != null">
				AND archiveDateArticleCount = #{archivedatearticlecount,jdbcType=INTEGER}
			</if>
			<if test="archivedatepublishedarticlecount != null">
				AND archiveDatePublishedArticleCount = #{archivedatepublishedarticlecount,jdbcType=INTEGER}
			</if>
			<if test="archivetime != null">
				AND archiveTime = #{archivetime,jdbcType=BIGINT}
			</if>
		</where>
	</select>

</mapper>
