<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="washmore.dao.ext.BlessScanH5TaskDao">

	<select id="selectByParams" parameterType="map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM bless_scan_h5_task
		<where>
			<if test="id != null">
				AND id = #{id,jdbcType=BIGINT}
			</if>
		</where>
		ORDER BY id DESC
		<if test="start != null and offset != null">
			LIMIT #{start} ,#{offset}
		</if>
	</select>

	<select id="countByParams" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM bless_scan_h5_task
		<where>
			<if test="id != null">
				AND id = #{id,jdbcType=BIGINT}
			</if>
		</where>
	</select>

	<insert id="insert" parameterType="washmore.model.BlessScanH5Task" keyProperty = "id">
		INSERT INTO bless_scan_h5_task
			(id, rule_id, user_code, user_name, content, image_url, 
			start_time, end_time, valid_status, creator, creator_name, create_time, 
			updater, updater_name, update_time)
		VALUES
			(#{id,jdbcType=BIGINT}, #{ruleId,jdbcType=BIGINT}, #{userCode,jdbcType=BIGINT}, 
			#{userName,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{imageUrl,jdbcType=VARCHAR}, 
			#{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{validStatus,jdbcType=INTEGER}, 
			#{creator,jdbcType=BIGINT}, #{creatorName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
			#{updater,jdbcType=BIGINT}, #{updaterName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
	</insert>

	<insert id="insertSelective" parameterType="washmore.model.BlessScanH5Task" keyProperty = "id">
		INSERT INTO bless_scan_h5_task
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="ruleId != null">
				rule_id,
			</if>
			<if test="userCode != null">
				user_code,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="imageUrl != null">
				image_url,
			</if>
			<if test="startTime != null">
				start_time,
			</if>
			<if test="endTime != null">
				end_time,
			</if>
			<if test="validStatus != null">
				valid_status,
			</if>
			<if test="creator != null">
				creator,
			</if>
			<if test="creatorName != null">
				creator_name,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updater != null">
				updater,
			</if>
			<if test="updaterName != null">
				updater_name,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="ruleId != null">
				#{ruleId,jdbcType=BIGINT},
			</if>
			<if test="userCode != null">
				#{userCode,jdbcType=BIGINT},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="imageUrl != null">
				#{imageUrl,jdbcType=VARCHAR},
			</if>
			<if test="startTime != null">
				#{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="validStatus != null">
				#{validStatus,jdbcType=INTEGER},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=BIGINT},
			</if>
			<if test="creatorName != null">
				#{creatorName,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updater != null">
				#{updater,jdbcType=BIGINT},
			</if>
			<if test="updaterName != null">
				#{updaterName,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKey" parameterType="washmore.model.BlessScanH5Task">
		UPDATE bless_scan_h5_task SET 
			rule_id = #{ruleId,jdbcType=BIGINT}
			,user_code = #{userCode,jdbcType=BIGINT}
			,user_name = #{userName,jdbcType=VARCHAR}
			,content = #{content,jdbcType=VARCHAR}
			,image_url = #{imageUrl,jdbcType=VARCHAR}
			,start_time = #{startTime,jdbcType=TIMESTAMP}
			,end_time = #{endTime,jdbcType=TIMESTAMP}
			,valid_status = #{validStatus,jdbcType=INTEGER}
			,creator = #{creator,jdbcType=BIGINT}
			,creator_name = #{creatorName,jdbcType=VARCHAR}
			,create_time = #{createTime,jdbcType=TIMESTAMP}
			,updater = #{updater,jdbcType=BIGINT}
			,updater_name = #{updaterName,jdbcType=VARCHAR}
			,update_time = #{updateTime,jdbcType=TIMESTAMP}
		WHERE id = #{id,jdbcType=BIGINT}
	</update>

	<update id="updateByPrimaryKeySelective" parameterType="washmore.model.BlessScanH5Task">
		UPDATE bless_scan_h5_task
		<set>
			<if test="ruleId != null">
				rule_id = #{ruleId,jdbcType=BIGINT},
			</if>
			<if test="userCode != null">
				user_code = #{userCode,jdbcType=BIGINT},
			</if>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="imageUrl != null">
				image_url = #{imageUrl,jdbcType=VARCHAR},
			</if>
			<if test="startTime != null">
				start_time = #{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				end_time = #{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="validStatus != null">
				valid_status = #{validStatus,jdbcType=INTEGER},
			</if>
			<if test="creator != null">
				creator = #{creator,jdbcType=BIGINT},
			</if>
			<if test="creatorName != null">
				creator_name = #{creatorName,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updater != null">
				updater = #{updater,jdbcType=BIGINT},
			</if>
			<if test="updaterName != null">
				updater_name = #{updaterName,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		WHERE id = #{id,jdbcType=BIGINT}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="Long">
		DELETE FROM bless_scan_h5_task
		WHERE id = #{id,jdbcType=BIGINT}
	</delete>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long">
		SELECT
		<include refid="Base_Column_List"/>
		FROM bless_scan_h5_task
		WHERE id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectByExample" parameterType="washmore.model.BlessScanH5Task" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM bless_scan_h5_task
		<where>
			<if test="id != null">
				AND id = #{id,jdbcType=BIGINT}
			</if>
			<if test="ruleId != null">
				AND rule_id = #{ruleId,jdbcType=BIGINT}
			</if>
			<if test="userCode != null">
				AND user_code = #{userCode,jdbcType=BIGINT}
			</if>
			<if test="userName != null">
				AND user_name = #{userName,jdbcType=VARCHAR}
			</if>
			<if test="content != null">
				AND content = #{content,jdbcType=VARCHAR}
			</if>
			<if test="imageUrl != null">
				AND image_url = #{imageUrl,jdbcType=VARCHAR}
			</if>
			<if test="startTime != null">
				AND start_time = #{startTime,jdbcType=TIMESTAMP}
			</if>
			<if test="endTime != null">
				AND end_time = #{endTime,jdbcType=TIMESTAMP}
			</if>
			<if test="validStatus != null">
				AND valid_status = #{validStatus,jdbcType=INTEGER}
			</if>
			<if test="creator != null">
				AND creator = #{creator,jdbcType=BIGINT}
			</if>
			<if test="creatorName != null">
				AND creator_name = #{creatorName,jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
				AND create_time = #{createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="updater != null">
				AND updater = #{updater,jdbcType=BIGINT}
			</if>
			<if test="updaterName != null">
				AND updater_name = #{updaterName,jdbcType=VARCHAR}
			</if>
			<if test="updateTime != null">
				AND update_time = #{updateTime,jdbcType=TIMESTAMP}
			</if>
		</where>
		ORDER BY id DESC
	</select>

	<select id="countByExample" parameterType="washmore.model.BlessScanH5Task" resultType="int">
		SELECT COUNT(*) FROM bless_scan_h5_task
		<where>
			<if test="id != null">
				AND id = #{id,jdbcType=BIGINT}
			</if>
			<if test="ruleId != null">
				AND rule_id = #{ruleId,jdbcType=BIGINT}
			</if>
			<if test="userCode != null">
				AND user_code = #{userCode,jdbcType=BIGINT}
			</if>
			<if test="userName != null">
				AND user_name = #{userName,jdbcType=VARCHAR}
			</if>
			<if test="content != null">
				AND content = #{content,jdbcType=VARCHAR}
			</if>
			<if test="imageUrl != null">
				AND image_url = #{imageUrl,jdbcType=VARCHAR}
			</if>
			<if test="startTime != null">
				AND start_time = #{startTime,jdbcType=TIMESTAMP}
			</if>
			<if test="endTime != null">
				AND end_time = #{endTime,jdbcType=TIMESTAMP}
			</if>
			<if test="validStatus != null">
				AND valid_status = #{validStatus,jdbcType=INTEGER}
			</if>
			<if test="creator != null">
				AND creator = #{creator,jdbcType=BIGINT}
			</if>
			<if test="creatorName != null">
				AND creator_name = #{creatorName,jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
				AND create_time = #{createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="updater != null">
				AND updater = #{updater,jdbcType=BIGINT}
			</if>
			<if test="updaterName != null">
				AND updater_name = #{updaterName,jdbcType=VARCHAR}
			</if>
			<if test="updateTime != null">
				AND update_time = #{updateTime,jdbcType=TIMESTAMP}
			</if>
		</where>
	</select>

	<resultMap id="BaseResultMap" type="washmore.model.BlessScanH5Task">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="rule_id" property="ruleId" jdbcType="BIGINT"/>
		<result column="user_code" property="userCode" jdbcType="BIGINT"/>
		<result column="user_name" property="userName" jdbcType="VARCHAR"/>
		<result column="content" property="content" jdbcType="VARCHAR"/>
		<result column="image_url" property="imageUrl" jdbcType="VARCHAR"/>
		<result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
		<result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
		<result column="valid_status" property="validStatus" jdbcType="INTEGER"/>
		<result column="creator" property="creator" jdbcType="BIGINT"/>
		<result column="creator_name" property="creatorName" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="updater" property="updater" jdbcType="BIGINT"/>
		<result column="updater_name" property="updaterName" jdbcType="VARCHAR"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
	</resultMap>

	<sql id="Base_Column_List">
		id, rule_id, user_code, user_name, content, image_url, 
		start_time, end_time, valid_status, creator, creator_name, create_time, 
		updater, updater_name, update_time
	</sql>

</mapper>
