<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="washmore.dao.ext.BlessSendRuleTaskHisDao">

	<resultMap id="BaseResultMap" type="washmore.model.BlessSendRuleTaskHis">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="rule_id" property="ruleId" jdbcType="BIGINT"/>
		<result column="task_count" property="taskCount" jdbcType="INTEGER"/>
		<result column="cc_task_count" property="ccTaskCount" jdbcType="INTEGER"/>
		<result column="user_code" property="userCode" jdbcType="BIGINT"/>
		<result column="creator" property="creator" jdbcType="BIGINT"/>
		<result column="creator_name" property="creatorName" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="updater" property="updater" jdbcType="BIGINT"/>
		<result column="updater_name" property="updaterName" jdbcType="VARCHAR"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
	</resultMap>

	<sql id="Base_Column_List">
		id, rule_id, task_count, cc_task_count, user_code, creator, 
		creator_name, create_time, updater, updater_name, update_time
	</sql>

</mapper>
