<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="washmore.dao.ext.BlessSendTargetUsercodeDao">

	<select id="selectByParams" parameterType="map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM bless_send_target_usercode
		<where>
			<if test="id != null">
				AND id = #{id,jdbcType=BIGINT}
			</if>
		</where>
		ORDER BY id DESC
		<if test="start != null and offset != null">
			LIMIT #{start} ,#{offset}
		</if>
	</select>

	<select id="countByParams" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM bless_send_target_usercode
		<where>
			<if test="id != null">
				AND id = #{id,jdbcType=BIGINT}
			</if>
		</where>
	</select>

	<insert id="insert" parameterType="washmore.model.BlessSendTargetUsercode" keyProperty = "id">
		INSERT INTO bless_send_target_usercode
			(id, rule_id, org_id, user_code, user_name, replace_params, 
			flag_delete, creator, creator_name, create_time, updater, updater_name, 
			update_time)
		VALUES
			(#{id,jdbcType=BIGINT}, #{ruleId,jdbcType=BIGINT}, #{orgId,jdbcType=BIGINT}, 
			#{userCode,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{replaceParams,jdbcType=VARCHAR}, 
			#{flagDelete,jdbcType=INTEGER}, #{creator,jdbcType=BIGINT}, #{creatorName,jdbcType=VARCHAR}, 
			#{createTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=BIGINT}, #{updaterName,jdbcType=VARCHAR}, 
			#{updateTime,jdbcType=TIMESTAMP})
	</insert>

	<insert id="insertSelective" parameterType="washmore.model.BlessSendTargetUsercode" keyProperty = "id">
		INSERT INTO bless_send_target_usercode
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="ruleId != null">
				rule_id,
			</if>
			<if test="orgId != null">
				org_id,
			</if>
			<if test="userCode != null">
				user_code,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="replaceParams != null">
				replace_params,
			</if>
			<if test="flagDelete != null">
				flag_delete,
			</if>
			<if test="creator != null">
				creator,
			</if>
			<if test="creatorName != null">
				creator_name,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updater != null">
				updater,
			</if>
			<if test="updaterName != null">
				updater_name,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="ruleId != null">
				#{ruleId,jdbcType=BIGINT},
			</if>
			<if test="orgId != null">
				#{orgId,jdbcType=BIGINT},
			</if>
			<if test="userCode != null">
				#{userCode,jdbcType=BIGINT},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="replaceParams != null">
				#{replaceParams,jdbcType=VARCHAR},
			</if>
			<if test="flagDelete != null">
				#{flagDelete,jdbcType=INTEGER},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=BIGINT},
			</if>
			<if test="creatorName != null">
				#{creatorName,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updater != null">
				#{updater,jdbcType=BIGINT},
			</if>
			<if test="updaterName != null">
				#{updaterName,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKey" parameterType="washmore.model.BlessSendTargetUsercode">
		UPDATE bless_send_target_usercode SET 
			rule_id = #{ruleId,jdbcType=BIGINT}
			,org_id = #{orgId,jdbcType=BIGINT}
			,user_code = #{userCode,jdbcType=BIGINT}
			,user_name = #{userName,jdbcType=VARCHAR}
			,replace_params = #{replaceParams,jdbcType=VARCHAR}
			,flag_delete = #{flagDelete,jdbcType=INTEGER}
			,creator = #{creator,jdbcType=BIGINT}
			,creator_name = #{creatorName,jdbcType=VARCHAR}
			,create_time = #{createTime,jdbcType=TIMESTAMP}
			,updater = #{updater,jdbcType=BIGINT}
			,updater_name = #{updaterName,jdbcType=VARCHAR}
			,update_time = #{updateTime,jdbcType=TIMESTAMP}
		WHERE id = #{id,jdbcType=BIGINT}
	</update>

	<update id="updateByPrimaryKeySelective" parameterType="washmore.model.BlessSendTargetUsercode">
		UPDATE bless_send_target_usercode
		<set>
			<if test="ruleId != null">
				rule_id = #{ruleId,jdbcType=BIGINT},
			</if>
			<if test="orgId != null">
				org_id = #{orgId,jdbcType=BIGINT},
			</if>
			<if test="userCode != null">
				user_code = #{userCode,jdbcType=BIGINT},
			</if>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="replaceParams != null">
				replace_params = #{replaceParams,jdbcType=VARCHAR},
			</if>
			<if test="flagDelete != null">
				flag_delete = #{flagDelete,jdbcType=INTEGER},
			</if>
			<if test="creator != null">
				creator = #{creator,jdbcType=BIGINT},
			</if>
			<if test="creatorName != null">
				creator_name = #{creatorName,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updater != null">
				updater = #{updater,jdbcType=BIGINT},
			</if>
			<if test="updaterName != null">
				updater_name = #{updaterName,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		WHERE id = #{id,jdbcType=BIGINT}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="Long">
		DELETE FROM bless_send_target_usercode
		WHERE id = #{id,jdbcType=BIGINT}
	</delete>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long">
		SELECT
		<include refid="Base_Column_List"/>
		FROM bless_send_target_usercode
		WHERE id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectByExample" parameterType="washmore.model.BlessSendTargetUsercode" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM bless_send_target_usercode
		<where>
			<if test="id != null">
				AND id = #{id,jdbcType=BIGINT}
			</if>
			<if test="ruleId != null">
				AND rule_id = #{ruleId,jdbcType=BIGINT}
			</if>
			<if test="orgId != null">
				AND org_id = #{orgId,jdbcType=BIGINT}
			</if>
			<if test="userCode != null">
				AND user_code = #{userCode,jdbcType=BIGINT}
			</if>
			<if test="userName != null">
				AND user_name = #{userName,jdbcType=VARCHAR}
			</if>
			<if test="replaceParams != null">
				AND replace_params = #{replaceParams,jdbcType=VARCHAR}
			</if>
			<if test="flagDelete != null">
				AND flag_delete = #{flagDelete,jdbcType=INTEGER}
			</if>
			<if test="creator != null">
				AND creator = #{creator,jdbcType=BIGINT}
			</if>
			<if test="creatorName != null">
				AND creator_name = #{creatorName,jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
				AND create_time = #{createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="updater != null">
				AND updater = #{updater,jdbcType=BIGINT}
			</if>
			<if test="updaterName != null">
				AND updater_name = #{updaterName,jdbcType=VARCHAR}
			</if>
			<if test="updateTime != null">
				AND update_time = #{updateTime,jdbcType=TIMESTAMP}
			</if>
		</where>
		ORDER BY id DESC
	</select>

	<select id="countByExample" parameterType="washmore.model.BlessSendTargetUsercode" resultType="int">
		SELECT COUNT(*) FROM bless_send_target_usercode
		<where>
			<if test="id != null">
				AND id = #{id,jdbcType=BIGINT}
			</if>
			<if test="ruleId != null">
				AND rule_id = #{ruleId,jdbcType=BIGINT}
			</if>
			<if test="orgId != null">
				AND org_id = #{orgId,jdbcType=BIGINT}
			</if>
			<if test="userCode != null">
				AND user_code = #{userCode,jdbcType=BIGINT}
			</if>
			<if test="userName != null">
				AND user_name = #{userName,jdbcType=VARCHAR}
			</if>
			<if test="replaceParams != null">
				AND replace_params = #{replaceParams,jdbcType=VARCHAR}
			</if>
			<if test="flagDelete != null">
				AND flag_delete = #{flagDelete,jdbcType=INTEGER}
			</if>
			<if test="creator != null">
				AND creator = #{creator,jdbcType=BIGINT}
			</if>
			<if test="creatorName != null">
				AND creator_name = #{creatorName,jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
				AND create_time = #{createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="updater != null">
				AND updater = #{updater,jdbcType=BIGINT}
			</if>
			<if test="updaterName != null">
				AND updater_name = #{updaterName,jdbcType=VARCHAR}
			</if>
			<if test="updateTime != null">
				AND update_time = #{updateTime,jdbcType=TIMESTAMP}
			</if>
		</where>
	</select>

	<resultMap id="BaseResultMap" type="washmore.model.BlessSendTargetUsercode">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="rule_id" property="ruleId" jdbcType="BIGINT"/>
		<result column="org_id" property="orgId" jdbcType="BIGINT"/>
		<result column="user_code" property="userCode" jdbcType="BIGINT"/>
		<result column="user_name" property="userName" jdbcType="VARCHAR"/>
		<result column="replace_params" property="replaceParams" jdbcType="VARCHAR"/>
		<result column="flag_delete" property="flagDelete" jdbcType="INTEGER"/>
		<result column="creator" property="creator" jdbcType="BIGINT"/>
		<result column="creator_name" property="creatorName" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="updater" property="updater" jdbcType="BIGINT"/>
		<result column="updater_name" property="updaterName" jdbcType="VARCHAR"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
	</resultMap>

	<sql id="Base_Column_List">
		id, rule_id, org_id, user_code, user_name, replace_params, 
		flag_delete, creator, creator_name, create_time, updater, updater_name, 
		update_time
	</sql>

</mapper>
