<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="washmore.dao.ext.BlessSendTargetOrganizationDao">

	<resultMap id="BaseResultMap" type="washmore.model.BlessSendTargetOrganization">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="rule_id" property="ruleId" jdbcType="BIGINT"/>
		<result column="sex" property="sex" jdbcType="INTEGER"/>
		<result column="age_condition" property="ageCondition" jdbcType="INTEGER"/>
		<result column="age_value" property="ageValue" jdbcType="INTEGER"/>
		<result column="org_id" property="orgId" jdbcType="BIGINT"/>
		<result column="org_name" property="orgName" jdbcType="VARCHAR"/>
		<result column="include_leave" property="includeLeave" jdbcType="INTEGER"/>
		<result column="flag_delete" property="flagDelete" jdbcType="INTEGER"/>
		<result column="creator" property="creator" jdbcType="BIGINT"/>
		<result column="creator_name" property="creatorName" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="updater" property="updater" jdbcType="BIGINT"/>
		<result column="updater_name" property="updaterName" jdbcType="VARCHAR"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
	</resultMap>

	<sql id="Base_Column_List">
		id, rule_id, sex, age_condition, age_value, org_id, 
		org_name, include_leave, flag_delete, creator, creator_name, create_time, 
		updater, updater_name, update_time
	</sql>

</mapper>
