<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="washmore.dao.ext.BlessSendRuleDao">

	<resultMap id="BaseResultMap" type="washmore.model.BlessSendRule">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="org_type" property="orgType" jdbcType="INTEGER"/>
		<result column="org_id" property="orgId" jdbcType="BIGINT"/>
		<result column="template_type" property="templateType" jdbcType="INTEGER"/>
		<result column="template_id" property="templateId" jdbcType="BIGINT"/>
		<result column="link_theme_id" property="linkThemeId" jdbcType="BIGINT"/>
		<result column="cc_superior" property="ccSuperior" jdbcType="INTEGER"/>
		<result column="cc_template_id" property="ccTemplateId" jdbcType="BIGINT"/>
		<result column="send_target_type" property="sendTargetType" jdbcType="INTEGER"/>
		<result column="send_requirement_type" property="sendRequirementType" jdbcType="INTEGER"/>
		<result column="valid_status" property="validStatus" jdbcType="INTEGER"/>
		<result column="flag_delete" property="flagDelete" jdbcType="INTEGER"/>
		<result column="creator" property="creator" jdbcType="BIGINT"/>
		<result column="creator_name" property="creatorName" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="updater" property="updater" jdbcType="BIGINT"/>
		<result column="updater_name" property="updaterName" jdbcType="VARCHAR"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
	</resultMap>

	<sql id="Base_Column_List">
		id, name, org_type, org_id, template_type, template_id, 
		link_theme_id, cc_superior, cc_template_id, send_target_type, send_requirement_type, valid_status, 
		flag_delete, creator, creator_name, create_time, updater, updater_name, 
		update_time
	</sql>

</mapper>
