<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="washmore.dao.ext.BlessScanH5TaskDao">

	<resultMap id="BaseResultMap" type="washmore.model.BlessScanH5Task">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="rule_id" property="ruleId" jdbcType="BIGINT"/>
		<result column="user_code" property="userCode" jdbcType="BIGINT"/>
		<result column="user_name" property="userName" jdbcType="VARCHAR"/>
		<result column="content" property="content" jdbcType="VARCHAR"/>
		<result column="image_url" property="imageUrl" jdbcType="VARCHAR"/>
		<result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
		<result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
		<result column="valid_status" property="validStatus" jdbcType="INTEGER"/>
		<result column="creator" property="creator" jdbcType="BIGINT"/>
		<result column="creator_name" property="creatorName" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="updater" property="updater" jdbcType="BIGINT"/>
		<result column="updater_name" property="updaterName" jdbcType="VARCHAR"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
	</resultMap>

	<sql id="Base_Column_List">
		id, rule_id, user_code, user_name, content, image_url, 
		start_time, end_time, valid_status, creator, creator_name, create_time, 
		updater, updater_name, update_time
	</sql>

</mapper>
