<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="washmore.dao.ext.BlessExtUserinfoDao">

	<resultMap id="BaseResultMap" type="washmore.model.BlessExtUserinfo">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="user_code" property="userCode" jdbcType="BIGINT"/>
		<result column="org_id" property="orgId" jdbcType="BIGINT"/>
		<result column="company_id" property="companyId" jdbcType="BIGINT"/>
		<result column="birthday_calender" property="birthdayCalender" jdbcType="INTEGER"/>
		<result column="birthday" property="birthday" jdbcType="TIMESTAMP"/>
		<result column="married" property="married" jdbcType="INTEGER"/>
		<result column="wedding_day_calender" property="weddingDayCalender" jdbcType="INTEGER"/>
		<result column="wedding_day" property="weddingDay" jdbcType="TIMESTAMP"/>
		<result column="spouse_is_lianer" property="spouseIsLianer" jdbcType="INTEGER"/>
		<result column="spouse_user_code" property="spouseUserCode" jdbcType="BIGINT"/>
		<result column="creator" property="creator" jdbcType="BIGINT"/>
		<result column="creator_name" property="creatorName" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="updater" property="updater" jdbcType="BIGINT"/>
		<result column="updater_name" property="updaterName" jdbcType="VARCHAR"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
	</resultMap>

	<sql id="Base_Column_List">
		id, user_code, org_id, company_id, birthday_calender, birthday, 
		married, wedding_day_calender, wedding_day, spouse_is_lianer, spouse_user_code, creator, 
		creator_name, create_time, updater, updater_name, update_time
	</sql>

</mapper>
